.root {
    height: 100%;
    width: 100%;
    display: flex;
}

.widgetList {
    width: 20%;
}

.dashboardWrapper {
    width: 80%;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.widgetsOptionsEditor {
    height: 30%;
}
